fileFormatVersion: 2
guid: 6b43b30dc1fb315e5f7286e79f02c084
timeCreated: 1646693728
licenseType: Free
MonoImporter:
  serializedVersion: 2
  defaultReferences: []
  executionOrder: 0
  icon: {instanceID: 0}
  userData: 
  assetBundleName: 
  assetBundleVariant: 
